@model List<SubjectModel>

<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8">
        <div class="section-tittle text-center mb-55">
            <h2>Fənnlər</h2>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-topic text-center mb-30">
                <div class="topic-img">
                    <img src="~/assets/img/gallery/topic8.png" alt="">
                    <div class="topic-content-box">
                        <div class="topic-content">
                            <h3><a asp-controller="Subject" asp-action="Chapter" asp-route-id="@item.Id">@item.Name</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="section-tittle text-center mt-20">
            <a href="courses.html" class="border-btn">Daha Çox</a>
        </div>
    </div>
</div>